:root{
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
}

/* Цвет основного текста : #212121 */

/* Вторичный цвет текста: #757575 */

/* Белый цвет :#FFFFFF */

/* Акцент: #2196F3*/

body {background-color: #E5E5E5;
    color:var(--title-text-color);
}
.list{
    list-style: none;

}
.logo {font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: var(--accent-color);}
    
.logo-accent {color: var(--title-text-color);
    }
  h1{color: #FFFFFF;
}
    /* Site-nav */
    .site-nav a{
        color: var(--title-text-color)
    }
    .link:hover,
    .link:focus {
        color: var(--accent-color);

    }

    .site-nav .link-current{
        color: var(--accent-color);
    }

    .contact-nav a{
        color: var(--primary-text-color);
    }

   /*Button*/
   .primary-button
    {color:#FFFFFF;
    background-color:var(--accent-color);  
  }
    
    .section-title{
        color:var(--title-text-color) ;
    }

    h2,
    h3{
        color: var(--title-text-color);
    }
    
    p{color: var(--primary-text-color)
    ;}

    .address{color: #FFFFFF;
    }

    .pages-nav.list{
        
    }