:root{
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
}

/* Цвет основного текста : #212121 */

/* Вторичный цвет текста: #757575 */

/* Белый цвет :#FFFFFF */

/* Акцент: #2196F3*/

body {background-color: #E5E5E5;
    color:var(--title-text-color);

    font-family: Roboto, sans-serif;
}
.list{
    list-style: none;

}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway',sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }
    
.logo-accent {
    color: var(--title-text-color);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }

  h1{color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    }
    /* Site-nav */
    .site-nav a{
        color: var(--title-text-color);
        font-family: 'Roboto';
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em
    }
    .link:hover,
    .link:focus {
        color: var(--accent-color);

    }

    .site-nav .link-current{
        color:var(--accent-color);
    }

    .contact-nav a{
        color: var(--primary-text-color);
        font-family: 'Roboto';

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

   /*Button STUDIO*/
   .primary-button
    {color:#F5F4FA;
    background-color:var(--accent-color);  
    border-color: var(--accent-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
  .button{
    color:var(--title-text-color);
    background-color:#F5F4FA;
    border-color: #F5F4FA;
  }

  button:hover,
  button:focus {
     color: #FFFFFF;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
    
    .section-title-list{
        color:var(--title-text-color) ;
    }

    .task{
        color:var(--title-text-color)
    }
    
    .task-description{color: var(--primary-text-color)
    ;}

    .address{color: #FFFFFF;
    }

    /* PORTFOLIO*/

  .primary-button-portfolio
    {color:#F5F4FA;
    background-color:var(--accent-color);  
    border-color: var(--accent-color);

  }
  .button-prtfl{
    color:var(--title-text-color);
    background-color:#F5F4FA;
    border-color: #F5F4FA;
  }